.wrapper{
  padding-left: 18px;
  padding-right: 18px;
  overflow: hidden;
  /* added 36px to max-width to take into account the 18px padding on left and right above */
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--medium{
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
  }

  &--bottom-margin{

    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }

  }
    /* this is used to unwrap the nested wrapper for the image under middle section */
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
